# **Basic Python**

**Day-1**

1) Describe about Python.

2) Download Python IDE.

3) Download Anaconda and setup Jupyter Notebook

4) Describe Google Colab.

**Day-2**

In [ ]:
"Data Science"

#####Input/ Output Function

In [ ]:
print("Hello world","Welcome to 60 Days of Python",sep=" & ",end=' * ')

In [ ]:
var="Hello World"
print(var)

In [ ]:
id(var)

In [ ]:
import sys
sys.getsizeof(var)

In [ ]:
x=100
x

In [ ]:
y=100
y

In [ ]:
id(x)

In [ ]:
id(y)

#####variables in python

In [ ]:
x,y,z=10,100,1000
x

In [ ]:
y

In [ ]:
z

#####local vs global

In [ ]:
x=1000 #Global Variable
def func1():
  x=500 #Local Variable
  print("My num is : ",x)
func1()
print("My Num is : ",x)

In [ ]:
# How can we change Local to Global Variable
def func1():  
  global x
  x= 500 #Local
  print("My num is: ",x)
func1()
print("My Num is: ",x)

 **Day-3**

In [ ]:
x=input()
y=input()
x+y

In [ ]:
x=int(input("Enter your Number: "))
y=int(input("enter your numbeer: "))
x+y

In [ ]:
data ="60 days of Python"
len(data)

In [ ]:
import sys
sys.getsizeof(data)

In [ ]:
data.count("o")

In [ ]:
data.find("o")

In [ ]:
data.index("y")

In [ ]:
data.index("y",6,13)

In [ ]:
data.lower()

In [ ]:
data.upper()

In [ ]:
data.casefold()

In [ ]:
data.capitalize()

In [ ]:
data.swapcase()

In [ ]:
data.title()

In [ ]:
x=data
x.title()

In [ ]:
x.islower()

True

In [ ]:
x.upper()

In [ ]:
x.isupper()

In [ ]:
x.isdigit()

In [ ]:
x.encode()

In [ ]:
x.split()

In [ ]:
x.split()[1]

In [ ]:
x.center(100)

In [ ]:
x.replace("data","AI")

**Day-4**
#####**All About Data Types in Python :**

1) Numeric Data

In [ ]:
x=10 #int
y=10.5 #float
z=10+5j #10 is real Number and 5j is imaginary

In [ ]:
type(x)

In [ ]:
type(y)

In [ ]:
type(z)

In [ ]:
isinstance(z,complex) #True/ False output

In [ ]:
#int to float
n=float(x) # n=float

In [ ]:
n

In [ ]:
type(n)

In [ ]:
n=int(n)
type(n)

In [ ]:
n

In [ ]:
# int to complex
n=complex(n) #10+0j

In [ ]:
n

In [ ]:
type(n)

In [ ]:
n=complex(input("Enter Your complex Number: "))

In [ ]:
n

2) Bool

In [ ]:
x=True
y=False

In [ ]:
x

In [ ]:
y

3) Sequence Data

In [ ]:
# list
l=[1,2,3,4,True,[1,2],"data",(1,2,3,8)]

In [ ]:
l

In [ ]:
l[0],l[-1]

In [ ]:
l[-1],[-1]

In [ ]:
isinstance(1,list)

4)Tuple

In [ ]:
t=(1,5,8,9,"AI")
type(t)

In [ ]:
t[0]

In [ ]:
t[0:4] # colon means 0 to 4-1 ;

5) Range()

In [ ]:
x=range(0,10)

In [ ]:
x

In [ ]:
for i in x:   #2nd case
   print(i)

In [ ]:
x=range(5,20)
for i in x:  # 3rd case
  print(i)

5) Array

In [ ]:
import array as ar
a= ar.array("i",[1,2,3,4])
type(a)
a

In [ ]:
a=ar.array("f",[1.5,2,3,4,5])
a

6) String

In [ ]:
x="data"
type(x)

7) Set

In [ ]:
s={1,2,3,4,5}
type(s)

8) Dictionary

In [ ]:
dic = {"Varsity":"NU","Dept":"Data Science"}
dic

{'Varsity': 'NU', 'Dept': 'Data Science'}

In [ ]:
dic.keys()

In [ ]:
dic.values()

9) Binary types

In [ ]:
byte_arr = bytearray("ABCDEF",'utf-8')
type(byte_arr)

In [ ]:
byte_arr

In [ ]:
memoryview(byte_arr)[0]

In [ ]:
mv=memoryview(byte_arr)
mv[0]=97

In [ ]:
memoryview(byte_arr)[0]

In [ ]:
byte_arr

**Day-5**

- describe about Operator

**Day-6**

Assinging the variable

In [ ]:
x=15
y=4
z=3

In [ ]:
x+y

In [ ]:
x-y

In [ ]:
x/y

In [ ]:
x*y

In [ ]:
x//y

In [ ]:
import math
math.floor(x/y)

Python Idention Operator

In [ ]:
x=10
y=10
x is y

In [ ]:
x==y

In [ ]:
x=100017
y=x
z=100017

In [ ]:
x is y

Python Bitwise Operators

In [ ]:
x=10
y=5
x|y

**Day-7**

**Python Condition**

1) Take Values of length and breadth of a rectangle from user input() and check if it is squre or not.

In [ ]:
length=int(input("Enter Length number: "))
breadth=int(input("Enter Breadth number: "))
if length==breadth:
  print("Squre.")
else:
  print("Not Squre.")

2) Take 3 integer values from user and print greatest among them.

In [ ]:
a=int(input())
b=int(input())
c=int(input())
if a>b and a>c:
  print(a)
elif b>a and b>c:
  print(b)
else:
  print("Greatest Number",c)

3) A student will not be allowed to sit in exam if his/her attendence is less than 75% .

In [ ]:
Total_class=int(input("Total Class Number :"))
Attendence=int(input("Total Attendance :"))
calculator=(Attendence*100)/Total_class
if calculator>=75:
  print("Allow for Exam")
else:
  print("Not Allow for exam")

4) A school has following rules for grading system:

below 25-F, 25 to 44 -E, 45 to 49 -D, 50 to 59 -C, 60 to 79 -B, 80 to 89 -A, Above 90 -A+

In [ ]:
Number=float(input("Enter your Number: "))
if Number<=25 and Number>=0:
    print("F")
elif Number>25 and Number<=44:
    print("E")
elif 45<=Number<=49:
    print("D")
elif 50<=Number<=59:
    print("C")
elif 60<=Number<=79:
    print("B")
elif 80<=Number<=89:
    print("A")
elif 90<=Number<=100:
    print("A+")
else:
    print("Please enter Positive Number.")

**Day-8**

Describe Day-7 excercise Question solve

**Day-9**

**Loop**

1) Display Number from -100 to -10 using for loop.

In [ ]:
for i in range(-100,-9):
  print(i)

2) Write a program to sum all prime Numbers within range 10 to 1000.

In [ ]:
x=0
for i in range(10,1001):
    if i%2!=0 and i%3!=0 and i%5!=0:
        x+=i
print(x)

132660

3) Find the factorial of a n!

In [ ]:
n=int(input())
y=1
for i in range(1,n+1):
    y*=i
print(y)

4) Reverse a given integer Number 27956240710

In [ ]:
x=str(27956240710)
y=x[::-1]
print(y)

**Day-10**

**While Loop**

1) Display Numbers from -100 to -10 using while loop

In [ ]:
x= -100
while x<=-10:
    print(x)
    x+=1

2) Write a program to sum all prime Numbers within range 10 to 1000.

In [ ]:
x=10
y=0
while x<=1000:
    if x%2!=0 and x%3!=0 and x%5!=0:
        y+=x 
    x+=1
print(y)

3) Find the Factorial of a N! [hint: n=7 means 7*6*5*4*3*2*1]

In [ ]:
n=int(input("Enter a Number: "))
x=1
y=1
while x<=n:  
    y*=x
    x+=1
print(y)

**Day-11**

**Nested Loop**

Describe about Nested Loop